@media only screen and (max-width: 1024px) {
  .stackedContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    overflow: hidden;
  }

  .stackedCarouselContainer {
    position: relative;
    height: 100%;
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .stackedContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    align-items: center;
    overflow: hidden;
  }
  .stackedCarouselContainer {
    position: relative;
    height: 100%;
    width: 100%;
  }
}

.stackedCarouselDescription {
  display: flex;
  flex-direction: column;
}
